<% engineer = matches_partial %>


<!-- Query for list of matches in desc order by score limit 5 -->

<!-- Stubbed for example -->
<li><%= link_to 'Marty:0.89', { :action => :show, :id => 6 } %></li>
<li><%= link_to 'Tony:0.76', { :action => :show, :id => 7 } %></li>

