 Find Engineer: 
 <% form_for(:engineer, :url => {:controller => 'engineers', :action => 'search_by_lname'}) do |f| %>

     <div class="auto_complete" id="engineer_lname_auto_complete"></div>
	 <%= text_field_with_auto_complete :engineer, :lname %>

     <p><%= submit_tag "Load" %></p>
 <% end %>
