<p>
  <b>Engineer:</b>
  <%=h @resource.engineer_id %>
</p>

<p>
  <b>Role:</b>
  <%=h @resource.role %>
</p>


<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>